PruebaDepartamentos/Connected Services/DepartamentosServicio/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64063/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="BuscarInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="Parametros" nillable="true" type="q1:ParametrosDep" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="BuscarInfoResult" nillable="true" type="q2:ArrayOfEntidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="Parametros" nillable="true" type="q3:ArrayOfParametrosDep" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardarInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>